@page "/"
@using System.Timers

<style>
	.container {
		width: 400px;
	}

	button {
		width: 100px;
		height: 100px;
		font-size: 50px;
	}
</style>

<div class="container">
	<div class="row">
		<h3>Difficulty: @difficulty (@difficultyLabel)</h3> <!-- Here we establish the notion of difficulty. This presents the time limit. -->
	</div>
	<div class="row"> <!-- This is adding a difficulty slider at the top of the page: players can choose how hard they want the game to be -->
		<input type="range"
			class="col-10 form-control-range"
			   min="1" max="4" @bind="difficulty" /> <!-- And this is setting the possible difficulty levels, 1 being easy, 4 being difficult-->
	</div>
	
	<div class="row">
		@for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
		{
			var animal = shuffledAnimals[animalNumber];
			var uniqueDescription = $"Button #{animalNumber}";

			<div class="col-3">
				<button @onclick="@(() => ButtonClick(animal, uniqueDescription))"
						type="button" class="btn btn-outline-dark">
					<h1> @animal </h1>
				</button>
			</div>
		}
	</div>
	<div class="row">
		<h2>Matches found: @matchesFound</h2>
		<!-- This indicated how many matches a player has found in a given game -->
	</div>
	<div class="row">
		<h2>Time: @timeDisplay</h2>
		<!-- This displays the time -->
	</div>
	<div class="row">
		<h2>Previous Time: @lastTime</h2>
		<!-- This displays how much time was left over in the last game -->
	</div>
</div>

@code {
	List<string> animalEmoji = new List<string>()
	{
		"A", "A",
		"B", "B",
		"C", "C",
		"D", "D",
		"E", "E",
		"F", "F",
		"G", "G",
		"H", "H",
	};

	// Setting Up Variables
	List<string> shuffledAnimals = new List<string>();
	int matchesFound = 0;
	Timer timer;
	int tenthOfSecondsElapsed = 0;
	string timeDisplay;
	string difficulty; // This is the difficulty setting.
	string difficultyLabel;
	string lastTime; // This is the variable that tracks your time on your previous run.
	string lastAnimalFound = string.Empty;
	string lastDescription = string.Empty;


	// Establish values when the game is first booted up
	protected override void OnInitialized()
	{
		timer = new Timer(100);
		timer.Elapsed += Timer_Tick;

		difficulty = "1"; // Automatically sets up the difficulty so we don't start with difficulty = null

		SetUpGame();
	}

	// Establish/re-establish values when the game is starting
	private void SetUpGame()
	{
		Random random = new Random();
		shuffledAnimals = animalEmoji
			.OrderBy(item => random.Next())
			.ToList();
		matchesFound = 0;

		// The following corresponds the difficulty setting with the time limit
		// BUG: You have to choose the difficulty slider before starting a new game. Still not sure how to fix this.
		switch (difficulty)
		{
			case "1": // 40 Seconds
				tenthOfSecondsElapsed = 400;
				difficultyLabel = "40 Seconds";
				break;
			case "2": // 30 Seconds
				tenthOfSecondsElapsed = 300;
				difficultyLabel = "30 Seconds";
				break;
			case "3": // 20 Seconds
				tenthOfSecondsElapsed = 200;
				difficultyLabel = "20 Seconds";
				break;
			case "4": // 10 Seconds
				tenthOfSecondsElapsed = 100;
				difficultyLabel = "10 Seconds";
				break;
		}
	}

	// When you click on an animal
	private void ButtonClick(string animal, string animalDescription)
	{
		if (lastAnimalFound == string.Empty)
		{
			// First selection of a pair. Remember it!
			lastAnimalFound = animal;
			lastDescription = animalDescription;
			timer.Start();
		}
		else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
		{
			// Match found! Reset for the next pair.
			lastAnimalFound = string.Empty;

			// Then replace found animals with empty string
			shuffledAnimals = shuffledAnimals
				.Select(a => a.Replace(animal, string.Empty))
				.ToList();
			matchesFound++;
			if (matchesFound == 8)
			{
				timer.Stop();
				lastTime = timeDisplay; // This remembers the time elapsed of your previous run
				timeDisplay += " - Play Again?";
				SetUpGame();
			}
		}
		else
		{
			//User selected a pair that don't match
			// Reset the selection
			lastAnimalFound = string.Empty;
		}
	}

	// Timer ticking
	private void Timer_Tick(Object source, ElapsedEventArgs e)
	{
		InvokeAsync(() =>
		{
			tenthOfSecondsElapsed--; // This counts the timer down, not up
			timeDisplay = (tenthOfSecondsElapsed / 10F)
				.ToString("0.0s");
			StateHasChanged();
		});
		if (tenthOfSecondsElapsed == 0) { timer.Stop(); } // Stops timer when it hits zero
	}

}